<div data-role="view" data-title="Authenticate" data-layout="main" data-model="app.authenticateView" data-show="app.authenticateView.onShow" data-after-show="app.authenticateView.afterShow" id="authenticateViewScreen" class="screen">

    <!-- START_CUSTOM_CODE_authenticateView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_authenticateView -->
</div>