<div id="dashboard-view" data-role="view" data-title="Activity Details"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.dashboardView.dashboardViewModel"
     data-bind="events: { show: onShow }"  >
    <footer data-role="footer">
        <div class="btn-group btn-group-justified"> 
            <a class="btn btn-danger" data-role="button"
               data-click="app.navigation.navigateAppDashboardView">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <a class="btn btn-primary"
               data-bind="events: {click: onRefresh }">
                <i class="fa fa-refresh"></i> Refresh
            </a>
        </div>
    </footer>
     
    <div id="dvvisionsummary" style="display:none;"
         data-role="touch"
         data-enable-swipe="1"
         data-swipe="gotoswipedirection">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1 text-center drawertopicon" data-role="button" data-click="gotonextrecord" data-direction="right">
                        <i class="fa fa-chevron-left"> </i>
                    </div>
                    <div class="col-xs-10 text-center text-uppercase horange">
                        <span id="spanDivision_Name"></span> 
                        <input type="hidden" id="hdnSLNO">
                    </div>
                    <div class="col-xs-1 text-center drawertopicon" data-role="button" data-click="gotonextrecord" data-direction="left">
                        <i class="fa fa-chevron-right"> </i>
                    </div> 
                </div>
            </div> 
            <div class="panel-body" style="padding-top:0"> 
                <div id="divisionlist-listview"></div>  
                <div id="chartpieemployeeheadcountdetails" style="height:340px;width:100% "></div>
            </div>
            <div class="panel-footer text-center">
                <b>All data is for present month</b>
            </div>
        </div>
    </div>
    <script type="text/x-kendo-tmpl" id="template-divisionlist">
        <div class="text-center param">
            <div class="paramvalue ">
                #=ParameterValue #
            </div>
            <div class="paramname">
                #=Parameter #
            </div>
        </div>
    </script> 
</div>
