<div id="coveragedetail-view" data-role="view" data-title="Coverage Details"
     data-layout="afterlogin"
     data-model="app.coveragedetailView.coveragedetailViewModel"
     data-bind="events: { show: onShow }">
    <footer data-role="footer"   >
        <div class="text-center ">
            <div class="row">
                <div class="col-xs-12"> 
                    <a 
                       data-bind="events: {click: onRefresh }">
                        <i style="padding-top:4px!important "
                           class="fa fa-2x fa-refresh"></i> 
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div id="dvvisionsummarycoveragedetails" style="display:none;"
          data-role="touch"
         data-enable-swipe="1"
         data-swipe="goto_coveragedetails_swipedirection">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1 text-center drawertopicon" 
                         data-role="button" data-click="goto_coveragedetails_nextrecord" data-direction="right">
                        <i class="fa fa-chevron-left"> </i>
                    </div>
                    <div class="col-xs-10 text-center text-uppercase horange"> 
                            <span id="span_coverage_chartdivisionname"></span> 
                        <input type="hidden" id="hdn_coverage_chartslno">
                        <input type="hidden" id="hdn_coverage_division_id">

                    </div>
                    <div class="col-xs-1 text-center drawertopicon" 
                         data-role="button" data-click="goto_coveragedetails_nextrecord" data-direction="left">
                        <i class="fa fa-chevron-right"> </i>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding-top:0">
                <div id="chartdivisionlist-listview"></div>
                <script type="text/x-kendo-tmpl" id="template-chartdivisionlist">
                    <div class="text-center param">
                        <div class="paramvalue ">
                            #=ParameterValue #
                        </div>
                        <div class="paramname">
                            #=Parameter #
                        </div>
                    </div>
                </script>
                <div id="chartbarcoveragedetails" style="height:340px"></div>
            </div>
            <div class="panel-footer text-center">
                <b>All data is for last six month</b>
            </div>
        </div>
    </div>

</div>
