<div id="AppDashboardView" data-role="view" data-title="Dashboard"
     data-layout="afterlogin"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-model="app.AppDashboardView.AppDashboardViewModel"
     data-bind="events: { show: onShow }">
    <div id="dvAppDashboardView">
        <div class="panel panel-default">
            <div class="panel-body padding0">

                <div class="col-xs-12" id="dvmgt">

                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigatedashboard">
                        <i class="fa fa-list-ol mgticon notygreen"></i>
                        <br />
                        Activity <br /> Details
                    </div> <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigatecoveragedetail">
                        <i class="fa fa-bar-chart mgticon notyblack"></i>
                        <br />
                        Coverage <br /> Details
                    </div>
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateholidays">
                        <i class="fa fa-calendar mgticon notyblack"></i>
                        <br />
                        Holidays
                    </div>  
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigateProfile">
                        <i class="fa fa-user mgticon notygreen"></i>
                        <br />
                        Profile
                    </div>
                    <div data-role="button" class="roundtext"
                         data-click="app.navigation.navigatechangepassword">
                        <i class="fa fa-key mgticon notyorange"></i>
                        <br />
                        Chg Pwd
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div> 